.rotating {
    border-radius: 100%;
    animation: rotate 6s infinite linear;
}

.rotating2 {
    border-radius: 100%;
    animation: rotate 12s infinite linear;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(-360deg); }
}

.fancy {
    margin-top: -450px;
    margin-bottom: -450px;
}

.marquee {
    margin-top: -120%;
    position: relative;
}

.marquee-container {
    top: 140px;
    position: relative;
}

.marquee-container2 {
    top: 122px;
    position: relative;
}

.secondmarquee {
    margin-top: -1000%;
    position: relative;
}

.tubetop {
    top: 182px;
    width: 17%;
    height: 17%;
    position: relative;
    z-index: 1;
}

.tubebottom {
    left: -17.2%;
    top: 182px;
    width: 28%;
    height: 28%;
    position: relative;
    z-index: -1;
}

.tubetopright {
    top: 182px;
    right: -37%;
    width: 17%;
    height: 17%;
    position: relative;
    z-index: 1;
    scale: -1;
}

.tubebottomright {
    top: 182px;
    right: -8.2%;
    width: 28.2%;
    height: 28.2%;
    position: relative;
    z-index: -1;
    scale: -1;
}