.top-bar {
    position: fixed;
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    overflow: hidden;
}

.top-bar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bottom-bar {
    width: 100%;
    height: 5%;
    bottom: 0;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    background-color: #16161a;
}

.background-rect {
    position: fixed;
    margin-left: 27%;
    width: 46%;
    height: 100%;
    background-color: #101015;
    z-index: -1;
}

.contents {
    height: 1000px;
    margin-left: 30%;
    margin-right: 30%;
    z-index: 100;
}

.no-underscore {
    text-decoration: none;
}

inline-code {
    background-color: #2d2d3b;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 15px;
}

code {
    background-color: #16161d;
    border-radius: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;
    white-space: nowrap;
    overflow-x: auto; /* Enables horizontal scrolling */
    font-size: 15px;
    margin-top: -12px;
    margin-bottom: -12px;
}

warning-box {
    background-color: #1f190e;
    border-radius: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    font-size: 15px;
    margin-top: -12px;
    margin-bottom: -12px
}